.sidebar{
    background:#fff!important;
    padding-top:55px;
}

.sidebar:before{
    content: "";
    top:0px;
    left:0px;
    height:50px;
    position: absolute;
    background:#000;
    width:100%;
    
    
}