

//-- Variables --

//--COLORS--

$white			:	#fff;
$black			:	#000;
$yellow			:	#F2B232;
$gray			:	#676767;
$lightgray 		:	#F2F2F2;
$darkgray		:	#333333;
$trans			:	#none;


//--FONTS--

$fonts			:	'Lora', serif;
$font-size		:	12px;
$font-light		:	200;
$font-medium	:	400;
$font-strong	:	600;
$font-blod		:	bold;


//--BREAK POINTS

$lg-screen		:	1170px;
$md-screen		:	 960px;
$sm-screen		:	 768px;
$xs-screen		:	 480px;


// PADDING AND MARGIN 

$null-padding	:	0px;
$null-margin	:	0px;
$default-padding:	10px;
$default-margin	:	10px;

//	BORDER

$bor-col_lit_gray:	#E7E7E7;
$bor_default	 :	1px;

