@charset "utf-8";
/* CSS Document */

/*=================
	NAV ICON
===================*/

.nav_icon {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 100%;
    margin-right: 10px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.nav_sublist_arrow{
	width:10px;
	height:10px;
	margin:0px 15px;
	
}

.nav_mainlist_arrow{
	 float: right;
    color: #95a5ae;
    font-size: 19px;
    font-weight: bold;
    line-height: 28px;
	
}


/*=====================
	socialslider
======================*/

.socialslider span i{
		
		font-size:14px;
		margin:5px;
}

/*==============
		middle
================*/

.text_center{ 
	text-align:center
		
}